{
  "extends": [
    "next/core-web-vitals",
    "next/typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": [
    ".next/*",
    "node_modules/*",
    ".open-next/*",
    "cloudflare-env.d.ts",
    "next-env.d.ts"
  ]
}
